.container-ng{
   margin: 5%;
   
}
.btn-dark{
   margin: 0 2%;
   width: 300px;
   background-color: #010003;
}
#cards{
   padding: 20px 0;
   -webkit-box-shadow: 3px 3px 10px 3px #ddd;
   -moz-box-shadow: 3px 3px 10px 3px #ddd;
   box-shadow: 3px 3px 10px 3px #ddd;
   text-align: center;
   border-radius: 20px;
   margin-bottom: 20%;
}
#cards span{
   font-size: x-large;
   font-weight: bold;
   color: rgb(97, 97, 97);
   display: block;
}

.graph-plot-slider{
      padding: 100px 0;
      -webkit-box-shadow: 3px 3px 10px 3px #ddd;
      -moz-box-shadow: 3px 3px 10px 3px #ddd;
      box-shadow: 3px 3px 10px 3px #ddd;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 10%;
}
.revenue-picker{
   padding: 30px 0;
      -webkit-box-shadow: 3px 3px 10px 3px #ddd;
      -moz-box-shadow: 3px 3px 10px 3px #ddd;
      box-shadow: 3px 3px 10px 3px #ddd;
      text-align: center;
      border-radius: 20px;
      margin-bottom: 1%;
}
.revenue-picker span{
   display: block;
}
.crud-buttons{
   margin-top: 3%;
   margin-left: 1%;
}
.property-list{
   margin-top: 3%;
   margin-left: 1%;
   display: inline;
}
.property-list .fa-plus , .fa-minus{
   color: red;
   -webkit-box-shadow: -5px 0 10px 0 #ddd;
   -moz-box-shadow: -5px 0 10px 0 #ddd;
   box-shadow: -5px 0 10px 0 #ddd;
   padding: 15px;
   padding-right: 10px;
   padding-left: 17px;
   border-radius: 50% 0 0 50%;
   font-size: x-large;
}


.property-list-display{
   margin-top: 2%;
   padding: 0 1%;
   border: 1px solid black;
}


input[type=button],input[type=submit] {
   background-color: black;
   border: none;
   color: #fff;
   padding: 7px 40px;
   text-decoration: none;
   margin: 4px 4px;
   cursor: pointer;
   width: 150px;
}
input[type=button],input[type=submit]:hover{
background-color: black;
}
.room-title{
color: rgb(148, 148, 148);
margin: 1% 1%;
font-size: x-large;
font-weight: bold;
}
.property-image-sizer img{
width: 19rem;
height: 30vh;
}
.center{
text-align: center;
}
#price-details{
margin: 10% 0;
}
.property-content{
width: 100% !important;
}
.property-content h3{
color:black;
}
i{
font-size:24px;
margin: 0 1%;
}

@media only screen and (max-width:412px)
{
.property-content{
 width: 20rem !important;
}
.input-number{
 margin: 2% 3%;
}
.p-field.p-col-12.p-md-4{
 width: 260px;
}
.col-2{
 margin: 5% 0;
 width: 100%;
 display: block;
}
#price-details{
 margin: 2% 0;
}
#hr-responsive{
 display: block !important;
 margin: 5% 2% 1% 5%;
 width: 86%;
}
i{
 margin-top: 2%;
}

}
@media only screen and (max-width:320px)
{
.property-image-sizer img{
 width: 17rem !important;
}
.property-list{
 padding-left: 4%;
 padding-top: 2%;
}
#hr-responsive{
 margin: 5% 2% 1% 5%;
 width: 76%;
}
.col-3{
 width: 100% !important;
}
.property-content{
 width: 100% !important;
}
}
@media only screen and (max-width:280px)
{
.property-image-sizer img{
 width: 14rem !important;
}  
}
.property-awesome{
position: relative;
}
.fontawesome-icon{
position:absolute;
z-index: 2;
top: -30px;
height: 10px;
}
#fontawesome-icon-liner{
background-color: #ffffff;
padding: 2px 10px;
border: 1px solid #868686;
}
