
<div class="container">
   <div style="text-align: center;">
      <br><span *ngFor="let pro of property;let indexOfelement=index;">
      <h2>PROPERTIES OF TYPE - {{pro.property_type}}</h2></span>
      <hr>
   </div>
   <span *ngIf="total_count==0">
      <div class="center">
         <img src="../../assets/nodatafound.png" width="150" alt="">
         <br>
         <img src="../../assets/no_data_found.png" alt="">
      </div>
   </span>
   <span *ngFor="let pro of property;let indexOfelement=index;">
      <div class="property-list">
         <div class="row">
            <div class="col-3 property-image-sizer" style="width: 20rem;">
               <img src="../../assets/IMG0{{indexOfelement}}1.jpg"  alt="">
            </div>
            <div class="col">
               <div class="property-content" style="width: 30rem;">
                  <h2 style="margin-bottom: 0px;">{{pro.property_name}}</h2>
                  <p style="margin-bottom: 3px;">{{pro.location}}</p>
                  <b style="color: green;">{{pro.property_type}}&nbsp;&nbsp;&nbsp;</b>&nbsp;
                  <p>{{pro.property_line_content}}</p>
                  <span class="property-features">
                     <ul>
                        <li>Rooms : {{pro.rooms}}</li>
                        <li>Rating &nbsp;: {{pro.ratings}}</li>
                     </ul>
                  </span>
                  <hr id="hr-responsive" style="margin: 5px;">
               </div>
            </div>
            
            <div class="col-2 center">
               <div class="row">
                  <div class="col-12">
                     <div>From</div><div id="price-details"><span style="font-size:xx-large;">{{pro.price}}</span><span > -Per night</span></div>
                  </div>
                  <div class="col-12">
                     <a routerLink="/moreinfo" (click)="getMoreInfo(pro)"><input type="submit" value="More Info"></a>
                  </div>
               </div>
            </div>
         </div>
         
      </div>
      <hr id="hr-responsive" style="display: none;">
   </span>
</div>
<br><br><br><br><br><br>