<div class="footer-dark">
   <footer>
       <div class="container">
           <div class="row">
            <div class="col-md-6 item text">
               <h3>BOOKINGS</h3>
               
           </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Category</h3>
                   <ul>
                       <li><a href="#">Villas</a></li>
                       <li><a href="#">Appartment</a></li>
                       <li><a href="#">Flat</a></li>
                    
                   </ul>
               </div>
               <div class="col-sm-6 col-md-3 item">
                   <h3>Quick Links</h3>
                   <ul>
                       <li><a href="#">Home</a></li>
                       <li><a href="#">Contact Us</a></li>
                   </ul>
               </div>
               
           </div>
           <br>
           <br>
           <p style="text-align: center;" >Thank You For Your Visit....!</p>
       </div>
   </footer>
</div>